*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    user-select: none;
    overflow: hidden;
}

body {
    background-image: url("./resources/bg2.png");
    background-size: cover;
}

.side-nav {
    background-color: rgba(0, 0, 0, .6);
    border-right: 1px solid rgba(0, 0, 0, .05);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    color: white;
}

.side-nav-menu {
    width: 200px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, .4);
}

.side-nav-menu li {
    padding: 5px 10px;
    transition: background-color, .2s;
    cursor: pointer;
}

.side-nav-menu li:hover {
    background-color: rgba(255, 255, 255, .1);
}
.side-nav-menu li:active {
    background-color: rgba(255, 255, 255, .3);
}

.logo-container {
    width: 100%;
    height: 130px;
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
}
.logo {
    width: 100px;
}

.content {
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    padding: 0px;
}

hr {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.panel {
    padding: 20px;
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid rgba(0, 0, 0, .05);
    color: white;
}

.instance-panel {
    cursor: pointer;
    text-align: center;
}

.instance-panel.selected {
    padding: 15px;
    border: 5px solid white;
}

.instance-icon {
    width: 50px;
    margin-bottom: 15px;
}

.instance-desc {
    font-size: 12px;
    opacity: .8;
}

p {
    margin: 0px;
}

.action-container {
    margin: 10px 0px;
}

.separator {
    opacity: .5;
    border-right: 2px solid white;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px;
}

.side-nav-header {
    text-align: center;
    padding: 0px 0px 10px 0px;
}

label {
    margin-top: 0px;
    margin-bottom: 2px;
}

input, textarea, select {
    margin-bottom: 5px;
}

select {
    cursor: pointer;
}

.hint {
    font-style: italic;
    opacity: .5;
}

input[disabled], select[disabled] {
    color: gray !important;
}

a {
    color: #198754;
}

#server-list tr td {
    vertical-align: middle;
}

.hint {
    display: block;
}