<h3>Profile</h3>
<hr>
<div class="action-container">
    <button id="btn-save-profile" class="btn btn-success" disabled>Save</button>
    <button id="btn-cancel-profile" class="btn btn-dark" disabled>Cancel</button>
</div>
<div class="panel">
    <label>Profile Name * <span id="profile-name-check" class="text-danger"></span></label>
    <input id="profile-name" class="form-control bg-dark border-dark text-light" type="text"
        placeholder="Profile Name (max 10 chars)" required>
</div>